// В этом файле должны быть стили для БЭМ-блока key-facts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.key-facts {

  $block-name:                &; // #{$block-name}__element

  &__group {
    @include row;
    margin-bottom: 70px;
  }

  &__item {
    @include col();
    @include col(xs, 3);
  }

  &__num {
    font-family: 'Akrobat';
    color: $color-main;
    font-weight: 800;
    font-size: 112px;
    line-height: 1;
    margin-bottom: 10px;
  }

  &__caption {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;

    b {
      font-weight: 700;
    }
  }
}
