// В этом файле должны быть стили для БЭМ-блока key-facts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.key-facts {

  $block-name:                &; // #{$block-name}__element

  &__group {
    display: flex;
    margin-bottom: 70px;

    &:last-child {
      margin-left: 415px;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 51px;
  }

  &__num {
    font-family: 'Akrobat';
    color: $color-main;
    font-weight: 800;
    font-size: 112px;
    line-height: 1;
    margin-right: 25px;
  }

  &__caption {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;

    b {
      font-weight: 700;
    }
  }
}
