// В этом файле должны быть стили для БЭМ-блока enrollee, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.enrollee {

  $block-name:                &; // #{$block-name}__element


  position: relative;
  padding: 120px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__bg-l {
    background-color: #EDEDED;
    flex-basis: 46%;
    flex-grow: 1;
  }
  &__bg-r {
    background-color: $color-main;
    flex-grow: 1;
    flex-basis: 54%;
  }

  .container {
    position: relative;
  }

  &__inner {
    @include row;
  }

  &__col-left {
    @include col();
    @include col(sm, 6);
  }
  &__col-right {
    @include col();
    @include col(sm, 6);

    .label {
      font-size: 22px;
      margin-top: 45px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 40px;
    }
  }

  &__btn-group {
    .btn {
      margin-right: 30px;
    }
  }
}
