// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  padding: 13px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    width: 1820px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  &__logo {
    margin-right: auto;
  }
}
