// В этом файле должны быть стили для БЭМ-блока ps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ps {

  $block-name:                &; // #{$block-name}__element

  padding-top: 145px;

  &__title {
    font-family: 'Akrobat';
    font-weight: 900;
    font-size: 80px;
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    max-width: 810px;
    line-height: 1;

    &:before {
      content: "";
      width: 75px;
      height: 2px;
      background-color: $color-main;
      display: block;
      margin-bottom: 30px;
    }
    &:after {
      content: ".";
      color: $color-main;
    }
  }

  &--map {
    background-color: $color-main;
    padding-bottom: 128px;

    #{$block-name}__title {
      &:before {
        background-color: #fff;
      }
      &:after {
        color: #fff;
      }
    }
  }

  &--reviews {
    background-color: #EDEDED;
    padding-bottom: 180px;
    background-image: url(../img/reviews-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
