// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $line-height;
  margin-bottom: $line-height;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    cursor: pointer;

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    width: 195px;

    &:not(:last-child) {
      border-right: none;
    }

    &--active {

      border-color: #fff;

      #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 18px 24px;
    color: #000;
    text-decoration: none;
    font-family: 'Akrobat';
    font-size: 24px;
    font-weight: 800;
    text-align: center;
  }

  &__content-wrapper {
    display: block;
    padding: 40px 0 0 0;
    border-top: none;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &--profession {
    position: absolute;
    top: 0;right: 0;

    .dropdown {
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    }

    .dropdown__toggler {
      width: 390px;
      text-align: left;
      font-weight: 300;
      font-size: 18px;
      text-transform: inherit;
      background-color: #fff;
      padding: 15px 25px;

      background-image: url(../img/dropdown-icon.svg);
      background-position: right 20px center;
      background-repeat: no-repeat;
    }
    .dropdown__menu {
      width: 100%;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
      font-weight: 300;
      font-size: 18px;
      padding: 25px 0;

      .menu__item:not(:last-child) {
        margin-bottom: 15px;
      }
      .menu__link {
        padding: 5px 25px;
      }
    }
  }
}

