// В этом файле должны быть стили для БЭМ-блока info-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info-list {

  $block-name:                &; // #{$block-name}__element

  &__item {
    @include row;
    align-items: center;
    margin-bottom: 67px;

    &:nth-child(even) {
      flex-direction: row-reverse;

      #{$block-name}__img-wrap {
        text-align: right;
      }
    }
  }

  &__img-wrap {
    @include col();
    @include col(sm, 5);
    position: relative;
  }

  &__img-box {
    display: inline-block;
    width: 285px;
    height: 255px;
    background-color: $color-main;
  }

  &__img {
    position: absolute;
  }

  &__caption {
    @include col();
    @include col(sm, 7);
  }

  &__title {
    font-family: 'Akrobat';
    font-weight: 900;
    font-size: 28px;
    color: #000;
    line-height: 1;
    margin-bottom: 25px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
  }
}
