// В этом файле должны быть стили для БЭМ-блока partner-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {
  display: flex;
  flex-wrap: wrap;

  .partner-card {
    flex-basis: 33.333%;
    margin-bottom: 90px;
  }
}

.partner-card {

  $block-name:                &; // #{$block-name}__element

  &__logo {
    margin-bottom: 25px;
  }

  &__labels {
    margin-bottom: 20px;

    .label {
      font-weight: 500;
      font-size: 20px;
      font-family: 'Akrobat';
      text-transform: inherit;
    }
  }

  &__link {
    a {
      font-size: 16px;
      font-weight: 300;
      color: #000;

      &:hover {
        text-decoration: none;
        color: $color-main;
      }
    }
  }
}
